:root {
  --main-bg:#232323;
  --neutral: #f2f2f2;
  --contrast: #00FF9F;
}

body {
  background-color: var(--main-bg);
  color: var(--neutral);
  font-family: 'Courier New', Courier, monospace;
}
main {
  display: grid;
  place-items: center;
}
ul {
  list-style: none;
}
textarea {
  background: transparent;
  color: var(--neutral);
  outline: none;
  border: 2px solid var(--neutral);

  padding: 10px;
}
.onFocus {
  border-color: var(--contrast);
}

/* ====== Responsividade ====== */
@media only screen and (max-width: 1200px) and (min-width: 767px) {
  textarea {
    width: 500px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 569px) {
  textarea {
    width: 450px;
  }
}
@media only screen and (max-width: 570px) {
  textarea {
    width: 150px;
  }
}